@page
@model Web.Pages.Vehiculos.EliminarModel
@{
}
<h1>Detalle Vehiculo</h1>
<div class="container">
    <form method="post">
    <div class="col-md-8">
        
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelo => modelo.Vehiculo.Marca) @Html.DisplayFor(modelo => modelo.Vehiculo.Modelo)</h5>
                <p class="card-text">
                    <div>
                        <b>
                            @Html.DisplayNameFor(modelo => modelo.Vehiculo.Marca):
                            @Html.DisplayFor(modelo => modelo.Vehiculo.Placa)
                        </b>
                    </div>
                    <div>
                        <b>
                            @Html.DisplayNameFor(modelo => modelo.Vehiculo.Anio):
                            @Html.DisplayFor(modelo => modelo.Vehiculo.Anio)
                        </b>
                    </div>
                    <div>
                        <b>
                            @Html.DisplayNameFor(modelo => modelo.Vehiculo.Precio):
                            @Html.DisplayFor(modelo => modelo.Vehiculo.Precio)
                        </b>
                    </div>
                <p class="card-text"><small class="text-muted">@Html.DisplayFor(modelo => modelo.Vehiculo.CorreoPropietario) | @Html.DisplayFor(modelo => modelo.Vehiculo.TelefonoPropietario)</small></p>

            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-danger">Eliminar</button>

    <a type="button" class="btn btn-primary" asp-page="./Index">Regresar</a>
    </form>
</div>